<% if signed_in? %>

<%= render 'shared/profile_box' %>

<div class="content" role="main">  

	<%= render 'shared/timeline' %> 

</div> <!-- END CONTENT --> 

<% else %>

<div class="center hero-unit">
  <h1>Welcome to the UA-READER</h1>

  <p><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></p>
  <p><%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %></p>
</div>

<% end %>