<% provide(:title, 'New Message') %>
<div class="content readable-content" role="main"> 
	
	<header class="page-header-1">
			<h1 class="entry-title">Compose New Message</h1>
	</header>
	
	<%= form_for(@message) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'form', f: f %>
		<%= f.submit "Send", class: "btn btn-large bl-c btn-primary" %>
	<% end %>

</div>