<% provide(:title, @title) %>
<div class="content readable-content" role="main"> 
	
	<header class="entry-header">
			<h1 class="entry-title">Reset Password</h1>
	</header>

	<%= form_tag password_resets_path, method: :post do %>

		<div class="row">
			<div class="form-group col-md-8">
				<%= label_tag :email %>
				<div class="controls">
					<%= text_field_tag :email %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<%= submit_tag "Reset password", class: "btn btn-primary btn-cons bl-c" %>
			</div>
		</div>

	<% end %>

</div>