<%= form_for([@commentable, @comment], remote: true) do |f| %>

	<p class="comment-form-comment">
		<%= f.label :body %>
		<%= f.text_area :body, class: "form-control", rows: 4 %>
	</p>
	<%= f.submit "Post Comment", class: "btn btn-default pull-right bl-c" %>
	<div style="clear:both;"></div>
<% end %>