<%= form_for([@commentable, @comment], remote: true) do |f| %>

	<p class="comment-form-comment">
		<%= f.label :body %>
		<%= f.text_area :body, class: "form-control", rows: 4 %>
	</p>
	<p class="form-submit">
		<%= f.submit "Post Comment", class: "btn btn-default" %>
	</p>
<% end %>