<% provide(:title, 'My Tasks') %>
<div class="content white-bg users" role="main"> 

	<header class="page-header-1">
		<h1 class="entry-title">My Tasks</h1>
	</header>

	<div class="task-form">
		<div class="task-form-h">
			<a href="javascript:;" class="expand">
				<h4><i class="fa fa-plus"></i><span class="semi-bold">Add New task</span></h4>
			</a>
		</div>
		<div class="task-form-body" style="overflow: hidden; display: none;">
			<%= render "form" %>
		</div>
	</div>

	<h2>Incomplete Tasks</h2>
	<div class="tasks" id="incomplete_tasks">
		<%= render @tasks %>
	</div>

	<h2>Comlpete Tasks</h2>
	<div class="tasks" id="complete_tasks">
		<%= render @tasks_done %>
	</div>		

</div>