<% provide(:title, "Articles") %>
<div class="content" role="main">  

	<ul id="timeline" class="clearfix articles">
		<% if @articles.any? %>
		<%= render partial: 'shared/article_feed', collection: @articles %>
		<% end %>
	</ul>

	<div id="infinite-scrolling">
		<%= will_paginate @articles %>
	</div>

</div> <!-- END CONTENT --> 