<% provide(:title, 'Users') %>
<div class="content white-bg" role="main"> 
	
	<header class="page-header-1">
		<h1 class="entry-title">Users</h1>
	</header>

	<%= form_tag users_path, method: 'get', class: "form-inline" do %>
		<div class="input-group transparent">
			<span class="input-group-addon">
				<i class="fa fa-search"></i>
			</span>
			<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search user..." %>
		</div>
	<% end %>

	<% if @users.any? %>
	
		<ul id="users">
			<%= render @users %>
		</ul>

		<%= will_paginate %>

	<% end %>

</div>
