<% provide(:title, 'Sign up') %>
<div class="content readable-content" role="main"> 
	
	<header class="entry-header">
			<h1 class="entry-title">Sign up</h1>
	</header>

	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'fields', f: f %>
		<div class="row">
			<div class="col-md-8">
				<%= f.submit "Create my account", class: "btn btn-primary btn-cons bl-c" %>
			</div>
		</div>
	<% end %>
	
</div>
