<% provide(:title, @title) %>

<%= render 'shared/profile_box' %>

<div class="content" role="main"> 
  
  <header class="page-header-1">
    <h1 class="entry-title"><%= @title %></h1>
  </header>

  <% if @users.any? %>
    <ul id="users">
      <%= render @users %>
    </ul>

    <%= will_paginate %>
  <% end %>

</div>