<% if @feed_items.any? %>
<ul id="timeline" class="clearfix">

	<% if signed_in? && current_user && params[:controller] == 'static_pages' %> 
	<li id="home-mpost-form" class="animated fadeInUp">
		<div class="hentry-box new-msg">
			<%= render 'shared/mp_new_home' %>
		</div>
	</li>
	<% end %>

	<%= render partial: 'shared/feed_item', collection: @feed_items %>

</ul>

<div id="infinite-scrolling">
	<%= will_paginate @feed_items %>
</div>

<% end %>