<div class="container">
  <div class="row login-container animated fadeInUp">  
        <div class="col-md-7 col-md-offset-2 tiles white no-padding">
		 <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10"> 
          <h2 class="normal">Sign in to UA-Reader</h2>
          <p class="p-b-20">Sign up Now! for UA-Reader accounts, it's free and always will be..</p>
		  <%= link_to "Login  ", signin_path, class: "btn btn-primary btn-cons", id: "login_toggle" %>
      or&nbsp;&nbsp;<button type="button" class="btn btn-info btn-cons" id="register_toggle"> Create an account</button>
        </div>  
      </div>   
  </div>
</div>
<!-- END CONTAINER -->